language: php
php:
- 5.5

env:
- BD=pgsql

before_install:
- sudo apt-get update -q
- sudo apt-get install ruby-full -y
- gem install sass

install: ./install-dependencies.sh

before_script: true

script: 
- phpunit Test.php
- phpunit StackTest.php



notifications:
  email:
    - kmtomo0604@gmail.com
  irc: "irc.freenode.org#yourfavouriteroomfortravis"
